.container-b {
  padding: 0 5%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 2% 0;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-right: 3%;
  font-family: "Arial";
  color: #4e4e4e;
}

.text-1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1%;
}

.text-2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2%;
}

.text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.users {
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  padding: 3%;
  border-radius: 20px;
  height: 40vh;
  margin-top: 5%;
}

.options {
  font-size: 25px;
  display: flex;
  text-align: center;
  margin-top: 2%;
}

.options span {
  width: 110px;
}

.options span:hover {
  cursor: pointer;
}

.active-option::after {
  content: "";
  background-color: green;
  width: 115px;
  height: 3px;
  position: absolute;
  display: flex;
  flex-direction: column;
  animation: fade 1s ease-in-out;
}

#recruit {
  margin-right: 2%;
}

.recruit {
  padding: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.recruit-txt {
  font-size: 24px;
}

.recruit-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
}

.register {
  outline: none;
  border: 2px solid #d3b108;
  background-color: #ccae16;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 2% 5%;
  border-radius: 30px;
  margin-right: 4%;
  font-size: 22px;
  color: #fff;
}

.register:hover {
  cursor: pointer;
  background-color: #fff;
  color: #c7a706;
}

.rst {
  outline: none;
  border: 2px solid #d2b52a;
  background-color: #d2b52a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 5% 5%;
  border-radius: 30px;
  margin-bottom: 4%;
  font-size: 22px;
  color: #fff;
}
.rst:hover {
  cursor: pointer;
  background-color: #fff;
  color: #c7a706;
}

.contact {
  outline: none;
  border: 2px solid #d2b52a;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 2% 5%;
  border-radius: 30px;
  font-size: 22px;
  color: #4e4e4e;
}

.faq {
  outline: none;
  border: 2px solid #d2b52a;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 5% 5%;
  border-radius: 30px;
  font-size: 22px;
}

.students {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
}

.students-btns {
  border-right: 3px solid #000;
  padding-right: 8%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.query-app {
  width: 20%;
}

.query-app img {
  width: 100%;
}

.card1,
.card2 {
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  padding: 3%;
  border-radius: 20px;
  height: 80vh;
  font-family: "Arial";
  color: #4e4e4e;
}

.card2 {
  display: none;
}

.carousel {
  width: 100%;
  height: 38vh;
  margin-bottom: 2%;
}

.carousel-item {
  display: none;
  position: absolute;
  width: 31.5vw;
  height: 35vh;
  margin: auto 0.5%;
  animation: slider 3.75s ease-in-out;
}

@keyframes slider {
  0% {
    opacity: 0.05;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.05;
  }
}

.carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.scroller {
  display: flex;
  justify-content: space-between;
  top: 45%;
  position: relative;
  z-index: 10;
  height: 10%;
}

.left-btn,
.right-btn {
  background-color: rgb(152, 149, 149);
  border-radius: 50%;
  padding: 1%;
  color: #fff;
}

.pl-stats {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.inner-card {
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  padding: 2%;
  border-radius: 20px;
  height: 30vh;
  width: 100%;
}

.inner-card img {
  width: 100%;
  height: 100%;
}

.inner-card:nth-child(1) {
  margin-right: 6%;
}

.flipper {
  position: absolute;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 65vh;
  height: 8.5vh;
}

.flipper img {
  width: 110px;
  height: auto;
}

.btn-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4%;
}

.btn-item {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 38px 3%;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  border-radius: 50px;
}

.fade {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}