* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none !important;
  }
  img {
    vertical-align: middle;
    max-width: 100%;
  }

  .message {
      padding: 20px 0;
  }
  .container {
    width: 90%;
    margin: 0 5%;
    background-color: FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  }

  .row-up{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
  }
  .heading, .social{
    padding: 5px;
  }
  .heading h1{
    text-align: left;
    font-size: 20px;
    font-family: 'Arial';
    color: #4e4e4e;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
  }
  .line-style{
    max-width: 320px;
  }
  .social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .social a{
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 600;
    margin-right: 10px;
  }
  .row-down{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .text-d{
      width: calc(60% - 20px);
  }
  .image-d{
        width: calc(40% - 20px);
        display: flex;
        justify-content: space-around;
  }

  .text-d{
    white-space: normal;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .text-d p{
    text-decoration: none;
    color: #505050;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding: 10px;
    text-align: justify;
  }
  .text-d a{
    text-decoration: none;
    color: #003f53;
    font-family: 'Arial';
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding: 10px;
  }
  .text-d h3{
    font-family: 'Arial';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
  }
  .image-d img{
      max-width: 360px;
      padding: 10px;
  }

  